/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
*.bst
*.log
*.out
*.pag
*.synctex.gz
*.aux
doc/auto/
doc/_minted-ttc-model-execution/
*.bbl
*.blg
doc/_region_.*
doc/_minted-_region_/